@import './base.scss';

@font-face {
    font-family: 'inter';
    src: url('@/assets/fonts/Inter.ttf');
}
*{
    box-sizing: border-box;
    transition: 0.5s;
    user-select: none;
}
body{
    font-family: 'inter';
    background-color: var(--primary-bg-color);
    margin:0;
    padding: 0;

    scrollbar-width: thin;
    scrollbar-color: var(--primary-text-color) var(--primary-bg-color);
}
.dragging{
    opacity: 1;
}